@{
    ViewBag.Title = "Payment Received";
}

<h2>Payment Received</h2>

Thank you for your purchase!


<div class="row" style="margin-top: 50px;">
    <a asp-controller="Customer" asp-action="Index">
        <input type="button" class="btn btn-default" value="Back To Shop" />
    </a>
</div>